@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

:root, :root[data-theme='dark'] {
    --primary-color: #F0F0F0;

    --primary-bg-color: #111217;
    --secondary-bg-color: #28292E;
    --border-color: #28292E;

    --text-color: #9A9A9C;
    --title-color: #9A9A9C;
    --link-color: #9A9A9C;
    --icon-color: #C7C8C9;
}

:root[data-theme='light'] {
    --primary-color: #0B0B0F;

    --primary-bg-color: #E9E9E9;
    --secondary-bg-color: #C7C8C9;
    --border-color: #C7C8C9;

    --text-color: #0B0B0F;
    --title-color: #28292E;
    --link-color: #28292E;
    --icon-color: #56575A;
}

html[data-theme='light'] .menu__text:hover {
    color: #0B0B0F;
    font-size: 2.5rem;
    transition: 0.7s ease-in-out;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    list-style: none;
}

body {
    background: var(--primary-bg-color);
    font-family: Jost;
}

a {
    text-decoration: none;
}

i {
    color: var(--icon-color);
}

h2 {
    font-size: 3rem;
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 2rem;
}

.title__video {
    font-size: 1.50rem;
}

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.5rem 1rem;
    
}

.header__brand .brand__logo {
    width: 4.25rem;
    height: 4.25rem;
}

.menu {
    display: flex;
    align-items: center;
    background: var(--primary-bg-color);
    border-bottom: 1px solid var(--primary-color);
}

.menu--mobile {
    justify-content: space-between;
    letter-spacing: 2px;
    font-size: 1.5rem;
}

.menu__item {
    width: 100%;
}

#navigation__menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .800rem;
}

.menu__link.active, .menu__icon, .menu__text {
    color:var(--primary-bg-color);
    font-weight: 600;
}

.menu__icon, .menu__text {
    color:var(--text-color);
}

.menu__text {
    font-size: 1.55rem;
    text-transform: uppercase;
    transition: 0.7s ease-in-out;
}

.menu__text:hover {
    color: #F0F0F0;
    font-size: 2.5rem;
    transition: 0.7s ease-in-out;
}

.title__header {
    color: var(--primary-color);
    text-transform: uppercase;
}

.main__content1 h1, p{
    text-align: center;
    justify-content: center;
    color: var(--primary-color);
    padding-top: 0.438;
    margin-top: 0.7rem;
}

.main__content1 p {
    font-size: 22px;
}

.main__content1 {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.main__content2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__content2 video{
    width: 450px;
    height: 450px;
}

.main__content2 h2{
    position: absolute;
    margin-bottom: 18.75rem;
    color: var(--primary-color);
}

.titulos {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1.25rem;
    padding: 6.25rem 1rem 2rem 1rem;
    background: var(--secondary-bg-color);
    margin-top: 1rem;
}

.titulos h2 {
    font-size: 3rem;
    text-transform: none;
}

.titulos__list {
    display: flex;
    flex-direction: row wrap;
    justify-content: space-between;
    gap: .5rem;
}

.titulos__item .skills__logo{ 
    border: 1px solid var(--icon-color);
    width: 290px;
    height: 250px;
    transition: 0.4s ease-in-out;
}

.titulos__item .titulos__title{ 
    position: absolute;
    margin-top: -22px;
    text-align: center;
}

.titulos__item .skills__logo:hover{ 
    width: 330px;
    height: 300px;
    transition: 0.4s ease-in-out;
}

.jogadores {
    display: flex;
    flex-direction: column;
    padding: 2.5rem 1rem;
}

.card__cover {
    height: 300px;
    margin-left: 3.525rem;
    border: 1px double var(--primary-color);
    margin-bottom: 0.625rem;
}

.jogadores__card {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.card__title {
    color: var(--text-color);
    font-size: 3.25rem;
}

.card__description, .card__list {
    font-size: 1.25rem;
    color: var(--primary-color);
}

.card__body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card__list {
    text-align: center;
}

.midias {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: var(--secondary-bg-color);
}
.col2 h3 {
    font-size: 28px;
}

.title__midias {
    margin-top: 2rem;
}

.accordion__header {
    width: 100%;
    display: flex;
    padding: 0.75rem 1rem;
    justify-content: space-between;
    align-items: center;
    background: greenyellow;
    border: 1px solid var(--primary-color);
}

.accordion__header span {
    color: rgb(29, 29, 20);
    font-size: 1.15rem;
}

.accordion__body {
    display: none;
    padding: 1.25rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.625rem;
    border: 1px solid var(--primary-color);
}

.accordion__body a{
    color: rgb(177, 43, 43);
}

.accordion__item {
    padding: 10px;
}

.accordion__item.active .accordion__body {
    display: flex;
}

.accordion__item .bi-caret-down-fill {
    transform: rotate(180deg);
}